body {
    margin: 0;
}
ul#navbar {
    font-family : sans-serif;
    /*text-align: center;*/
    background-color: #00cccc;
    width: 100%;
    position: fixed;
    top : 0;
    padding : 0;
    margin : 0;
    list-style-type: none;
    overflow: hidden;
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);*/
    /*border: solid 4px #009999;*/ 
}

ul#navbar li {
    float : left;
}

ul#navbar li a{
    display: block;
    padding : 10px 10px;
    text-align: center;
    text-decoration: none;
}

ul#navbar li:nth-child(5){
    float: right;
}

ul#navbar li a:hover{
    background-color: #009999;
}

div#content-body{
    margin-top: 39px;
}

div#profile-image{
    background-color: #00cccc;
}
h2{
    font-family: Aerial, sans-serif;
    font-size: 30px;
    font-weight: 100;
}

em{
    color: #006666;
}