body {
    margin: 0;
    padding: 0;
    background-color: #099;
}


/*Navigation Bar Settings*/

ul#navbar {
    font-family: sans-serif;
    /*text-align: center;*/
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0;
    margin: 0;
    list-style-type: none;
    z-index: 1;
    /* This is to make the navigation bar to show on the topmost layer and nothing can overlap it. */
    overflow: hidden;
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);*/
    /*border: solid 4px #009999;*/
}

ul#navbar li {
    float: left;
}


ul#navbar li a {
    display: block;
    padding: 10px 10px;
    font-weight: bold;
    font-family: Georgia, sans-serif;
    color: #009999;
    text-align: center;
}

ul#navbar li:nth-child(5) {
    float: right;
}


ul#navbar li a:hover {
    background-color: aqua;
    color: black;
}

ul#navbar a:hover {
    cursor: pointer;
    text-decoration: none;
    color: antiquewhite;
}

ul#navbar a:active {
    color: aqua;
}

/*Image Settings And Self Information Settings */

div.info {
    height: auto;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
}

div.info ul {
    padding: 0;
    margin: 7px 70px 0 0;
    list-style-type: none;
}

div.info h3{
    margin : 10px auto;
}

div.info ul li:nth-child(1) {
    font-family: Georgia, sans-serif;
    line-height: 23px;
    font-weight: 100;
    border-bottom: 1px solid #099;
    font-size: 0.9em;
    padding: 0 0 10px 0;
    color: darkslategrey;
}

div.info ul li:nth-child(2){
    font-family: Helvetica, sans-serif;
    font-size: 0.9em;
    color : #033;
    font-weight: bold;
    margin : 10px auto;
}

div.profile-image {
    width : 22%;
    height: 290px;
    background-color: aqua;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    clip-path: polygon(0% 0%, 100% 0%, 71% 100%, 0% 100%);
    padding: 40px 20px;
    display: inline-block;
}

img.profile-image {
    border-radius: 30%;
    border: 2px solid #b3e4e4;
    box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.5);
}

div.self-definition {
    width: 70%;
    padding: 0 20px 0 0;
    display: inline;
    float: right;
}


div#content-body {
    margin: 69px auto 0;
    width: 1040px;
}

/*Contact Me Settings*/

div.contact-me p,
div.contact-me.message form label {
    color: #009999;
    font-family: Georgia, sans-serif;
}

div.contact-me p{
    font-size: 1.5em;
    padding:  0 0 10px 0;
    border-bottom: 1px solid #001919;
}

div.contact-me.message label {
    padding: 10px 10px 10px 0;
    display: inline-block;
    width: 100px;
    height: auto;
    font-weight: bolder;
}


div.contact-me.message input,
div.contact-me.message textarea {
    background-color: #004c4c;
    border-style: none;
    padding: 10px;
    margin: 5px 0;
}

div.contact-me.message textarea {
    display: inline-block;
}

div.contact-me.message [type="submit"] {
    font-weight: bold;
}

div.contact-me.message [type="submit"]:hover {
    background-color: aqua;
    cursor: pointer;
}

div.contact-me.message {
    margin: 0 auto;
    display: inline-block;
    border-right: 1px solid #099;
    width: 60%;
    padding: 0 30px 0 30px;
}

div.contact-me.side-bar{
    float: right;
    width: 30%;
    margin: 0;
    height: 100%;
    display: inline-block;
}

div.contact-me.side-bar ul{
    color: #099;
    margin: 0;
    list-style-type: none;
    padding: 0;
    width: 90%;
}

div.contact-me.side-bar li{
    padding : 0 0 15px 0;
    font-family: Aerial,serif;
    font-style: italic;
    border-bottom: 1px solid #099;
}

div.contact-me-background {
    background-color: black;
    margin: 20px 0 0 0;
    width: 100%;
    padding: 3% 0;
}


h2 {
    font-family: Georgia, sans-serif;
    font-size: 2.5em;
    color: #009999;
    font-weight: 100;
}
h3{
    font-family: Georgia, sans-serif;
    font-size: 1.5em;
    color: #033;
    font-weight: bold;
}
strong {
    color: #009999;
}

em {
    color: #006666;
}
