body {
    margin: 0;
    padding : 0;
    background-color: lightgrey;
}

/*Navigation Bar Settings*/

ul#navbar {
    font-family : sans-serif;
    /*text-align: center;*/
    background-color: black;
    width: 100%;
    position: fixed;
    top : 0;
    padding : 0;
    margin : 0;
    list-style-type: none;
    overflow: hidden;
    /*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);*/
    /*border: solid 4px #009999;*/ 
}

ul#navbar li {
    float : left;
}

ul#navbar li a{
    display: block;
    padding : 10px 10px;
    color: #ffffff;
    text-align: center;
}

ul#navbar li:nth-child(5){
    float: right;
}


ul#navbar li a:hover{
    background-color: #009999;
}

ul#navbar a:hover{
    cursor: pointer;
    text-decoration: none;
    color: antiquewhite;
}

/*Image Settings*/

div.self-info{
    height : 250px;
    border-radius: 8px;
    margin : 0 auto;
    background-color: white;
}

div.profile-image{
    width : 180px;
    height: 150px;
    padding: 10px 20px;
    display: inline-block;
}

img.profile-image{
    border-radius : 50%;
}

div.self-definition{
    width: 820px;
    display: inline;
    float : right;
}

div.contact-me{
    margin : 0 20px;
}

div.contact-me-background{
    background-color : white;
    margin: 0;
}

div#content-body{
    margin: 69px auto 0;
    width : 1040px;
}

h2{
    font-family: Aerial, sans-serif;
    font-size: 30px;
    font-weight: 100;
}


em{
    color: #006666;
}